@import "tailwindcss";

/* 'dark' 클래스가 있을 때 다크모드 스타일 적용되도록 설정 */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --header-height: 60px;
  --global-padding: 24px;
}

@theme {
  /* 공통 색상 정의 */
  --color-main: #2b7fff;
  --color-main-50: #eff6ff;

  /* 기본 테마(라이트 모드) 색상 정의 */
  --color-bg-main: #ffffff;
  --color-bg-sub: #f0f2f5;
  --color-text-title: #0f172b;
  --color-text-content: #1d293d;
  --color-text-sub: #4a5565;
  --color-text-light: #99a1af;
}

/* 다크 모드 색상 정의 ('.dark' 클래스가 있을 때 이 색상들로 덮어씌워짐) */
.dark {
  --color-bg-main: #121212;
  --color-bg-sub: #202225;
  --color-text-title: #f1f5ff;
  --color-text-content: #e2e8f5;
  --color-text-sub: #a8b1c1;
  --color-text-light: #6b7285;
}
